# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
mca = pd.read_csv("/Users/jxhn/Desktop/IRONHACK/Week_1/Day_4/Morning/Jahn-lab-dw-data-structuring-and-combining/mca.csv")
mca

,Unnamed: 0,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,datetime,employmentstatus,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,unknown,february
1,1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,unknown,january
2,2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,february
3,3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,january
4,4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,unknown,january
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,january
10906,10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,january
10907,10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,unknown,february
10908,10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,february
10909,10909,10909,IV32877,unknown,6857.519928,unknown,Basic,Bachelor,2011-01-08,Unemployed,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,unknown,january

In [4]:
mca = mca.reset_index(drop=True)

In [5]:
mca.columns

Index(['Unnamed: 0', 'unnamed:_0', 'customer', 'state',
       'customer_lifetime_value', 'response', 'coverage', 'education',
       'datetime', 'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [6]:
mca = mca.drop('Unnamed: 0', axis=1)

In [7]:
mca = mca.drop('unnamed:_0', axis=1)

In [8]:
mca.head()

,customer,state,customer_lifetime_value,response,coverage,education,datetime,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,unknown,february
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,unknown,january
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,february
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,january
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,unknown,january

In [9]:
mca2 = mca[(mca['total_claim_amount'] > 1000) & (mca['response'] == 'Yes')]

In [10]:
mca2.head()

,customer,state,customer_lifetime_value,response,coverage,education,datetime,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,unknown,january
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,january
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,february
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,february
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,january

In [11]:
filtered_df = mca[mca['response'] == 'Yes']

In [12]:
analysis_df = filtered_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()

In [13]:
analysis_df

policy_type     gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
                M         429.527942
Name: total_claim_amount, dtype: float64

In [14]:
customer_count = mca['state'].value_counts()

In [15]:
filtered_count = customer_count[customer_count > 500]

In [16]:
filtered_count

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
unknown        631
Name: state, dtype: int64

In [17]:
median_customer_value = mca.groupby(['education','gender'])['customer_lifetime_value'].median()

In [18]:
median_customer_value

education             gender
Bachelor              F         5640.505303
                      M         5548.031892
College               F         5623.611187
                      M         6005.847375
Doctor                F         5332.462694
                      M         5577.669457
High School or Below  F         6039.553187
                      M         6286.731006
Master                F         5729.855012
                      M         5579.099207
Name: customer_lifetime_value, dtype: float64

In [19]:
mean_open_com = mca.groupby(['state','policy_type'])['number_of_open_complaints'].mean()

In [20]:
mean_open_com

state       policy_type
Arizona     Corporate Auto    0.362581
            Personal Auto     0.390616
            Special Auto      0.256385
California  Corporate Auto    0.311632
            Personal Auto     0.400548
            Special Auto      0.446514
Nevada      Corporate Auto    0.459411
            Personal Auto     0.404789
            Special Auto      0.600000
Oregon      Corporate Auto    0.341850
            Personal Auto     0.371963
            Special Auto      0.374493
Washington  Corporate Auto    0.505476
            Personal Auto     0.382562
            Special Auto      0.645161
unknown     Corporate Auto    0.279443
            Personal Auto     0.425706
            Special Auto      0.456018
Name: number_of_open_complaints, dtype: float64

In [21]:
max_open_com = mca.groupby(['state','policy_type'])['number_of_open_complaints'].max()

In [22]:
max_open_com

state       policy_type
Arizona     Corporate Auto    5.0
            Personal Auto     5.0
            Special Auto      3.0
California  Corporate Auto    4.0
            Personal Auto     5.0
            Special Auto      5.0
Nevada      Corporate Auto    5.0
            Personal Auto     5.0
            Special Auto      5.0
Oregon      Corporate Auto    4.0
            Personal Auto     5.0
            Special Auto      5.0
Washington  Corporate Auto    5.0
            Personal Auto     5.0
            Special Auto      4.0
unknown     Corporate Auto    3.0
            Personal Auto     5.0
            Special Auto      5.0
Name: number_of_open_complaints, dtype: float64

In [23]:
min_open_com = mca.groupby(['state','policy_type'])['number_of_open_complaints'].min()

In [24]:
min_open_com

state       policy_type
Arizona     Corporate Auto    0.0
            Personal Auto     0.0
            Special Auto      0.0
California  Corporate Auto    0.0
            Personal Auto     0.0
            Special Auto      0.0
Nevada      Corporate Auto    0.0
            Personal Auto     0.0
            Special Auto      0.0
Oregon      Corporate Auto    0.0
            Personal Auto     0.0
            Special Auto      0.0
Washington  Corporate Auto    0.0
            Personal Auto     0.0
            Special Auto      0.0
unknown     Corporate Auto    0.0
            Personal Auto     0.0
            Special Auto      0.0
Name: number_of_open_complaints, dtype: float64

In [25]:
import pandas as pd

In [26]:
mca2 = pd.read_csv("/Users/jxhn/Desktop/IRONHACK/Week_1/Day_4/Morning/Jahn-lab-dw-data-structuring-and-combining/mca.csv")
mca2

,Unnamed: 0,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,datetime,employmentstatus,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,unknown,february
1,1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,unknown,january
2,2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,february
3,3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,january
4,4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,unknown,january
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,january
10906,10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,january
10907,10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,unknown,february
10908,10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,february
10909,10909,10909,IV32877,unknown,6857.519928,unknown,Basic,Bachelor,2011-01-08,Unemployed,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,unknown,january

In [27]:
mca2 = mca2.drop('unnamed:_0', axis=1)

In [28]:
mca2 = mca2.drop('Unnamed: 0', axis=1)

In [29]:
pivot_table2 = pd.pivot_table(mca2, values='number_of_policies', index='state', columns='month', aggfunc='sum')

In [30]:
pivot_table2

month       february  january
state
Arizona         2864     3052
California      4929     5673
Nevada          1278     1493
Oregon          3969     4697
Washington      1225     1358
unknown          972      993

In [32]:
policies_by_month_state = mca2.groupby(['month', 'state'])['number_of_policies'].sum().reset_index()

In [34]:
top_states = policies_by_month_state.groupby('state')['number_of_policies'].sum().nlargest(3).index

In [35]:
filtered_data = policies_by_month_state[policies_by_month_state['state'].isin(top_states)]

In [37]:
pivot_table = pd.pivot_table(filtered_data, values='number_of_policies', index='month', columns='state', aggfunc='sum')

In [38]:
pivot_table

state     Arizona  California  Oregon
month
february     2864        4929    3969
january      3052        5673    4697

In [39]:
yes_responses = mca2[mca2['response'] == 'Yes']

In [41]:
response_count = yes_responses.groupby('sales_channel').size().reset_index(name='response_count')

In [42]:
total_count = mca2.groupby('sales_channel').size().reset_index(name='total_count')

In [43]:
response_rate = pd.merge(response_count, total_count, on='sales_channel')

In [44]:
response_rate['response_rate'] = response_rate['response_count'] / response_rate['total_count']

In [45]:
response_rate

  sales_channel  response_count  total_count  response_rate
0         Agent             742         4121       0.180053
1        Branch             326         3022       0.107876
2   Call Center             221         2141       0.103223
3           Web             177         1626       0.108856